@import "_colours";
@import "../index.scss";

.about {
  color: $textColour;
  background-color: $backgroundColor;

  .wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .about__card {
      width: 90%;
      height: 80vh;
      position: relative;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      @include mobile {
        height: 90%;
        width: 90%;
      }

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2rem;

        @include mobile {
          transform: scale(0.8);
          flex-wrap: wrap;
          margin-top: 1rem;
        }

        li {
          padding: 0.75rem 1rem;
          margin: 0 3.5rem;
          border: 1px solid white;
          border-radius: 20px;
          position: relative;
          z-index: 1;
          transition: 0.2s ease;
          cursor: pointer;
          font-size: 18px;
          font-family: "Architects Daughter", cursive;
          letter-spacing: 0.1em;
          min-width: 8rem;
          text-align: center;

          @include mobile {
            margin: 0.5rem 0.5rem;
          }

          &.active {
            background-color: $homeMenuColor;
            font-weight: bold;
          }

          &:hover {
            font-weight: bold;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            background-color: $homeMenuColor;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.2s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
          }
          &:focus::after {
            transform: scaleX(1);
          }
        }
      }

      .container {
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include mobile {
          flex-direction: column;
        }

        .description {
          width: 60%;
          min-height: 90%;
          height: auto;
          display: flex;
          padding-top: 2rem;
          padding-bottom: 3rem;

          @include mobile {
            width: 90%;
          }
        }

        .image__container {
          width: 22vw;
          height: 22vw;
          overflow: hidden;
          position: relative;
          border-radius: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;

          @include mobile {
            width: 44vw;
            height: 44vw;
            margin-bottom: 2rem;
          }

          img {
            width: 100%;
            height: 120%;
            object-fit: cover;
          }
        }
      }
    }

    h1 {
      font-family: "Architects Daughter", cursive;
      margin-left: 3rem;
      color: $paragraphTitle;
      letter-spacing: 0.1em;

      &:first-child {
        margin-top: 2rem;

        @include mobile {
          margin-top: 1rem;
        }
      }

      &:last-child {
        margin-bottom: 2rem;

        @include mobile {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
