@import "_colours";
@import "../index.scss";

.footer {
  height: 10vh;
  background-color: $themeColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColour;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;

  @include mobile {
    font-size: 12px;
  }

  .logo {
    margin-left: 1rem;

    img {
      width: 50px;
      height: 50px;

      @include mobile {
        width: 40px;
        height: 40px;
      }
    }
  }
}
