@import "_colours";

.home {
  color: $textColour;
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: $backgroundColor;

  &::before {
    content: "";
    background-image: url("../assets/home.jpg");
    background-size: cover;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }

  .wrapper {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5rem;
    left: 12rem;
    min-width: 300px;

    h1 {
      margin-bottom: 1rem;
      letter-spacing: 0.25em;
    }
    h2 {
      margin-bottom: 1rem;
      letter-spacing: 0.15em;
    }
    h3 {
      margin-bottom: 1rem;
      letter-spacing: 0.1em;
    }
  }
}
