@import "./styles/_colours";

.App {
  background-color: $themeColor;
  height: calc(100vh + 80px);

  .section {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);

    > * {
      width: 100%;
      height: 100vh;
    }
  }
}
