@import "./styles/_colours";
@import "./index.scss";

.App {
  background-color: $themeColor;
  height: calc(100vh + 80px);

  .section {
    position: relative;
    width: 100%;

    > * {
      width: 100%;
      min-height: 100vh;
    }
  }
}
